<%- include('partials/header') -%>
<div class="p-6">
  <div class="row justify-content-center p-5">
    <div class="col-6">
      <img class="img-fluid" src="<%= post.image%>" />
      <div class="row justify-content-between">
        <%if(user.teacher == true){ %>
        <form action="/post/deletePost/<%= post.id %>?_method=DELETE" method="POST" class="col-3">
          <button class="btn btn-primary fa fa-trash" type="submit"></button>
        </form>
        <%}%>
      </div>
      </div>
      <div class="col-6">
        <h3><%= post.title %> by <%= author %></h3>
        <p><%= post.caption %></p>
        <h4>Feedback</h4>
        <ul class="row">
          <% for(var i=0; i<comments.length; i++) {%>
            <li class="col-lg-6 col-sm-6">
              <img class="img-fluid" src="<%= comments[i].image%>" />
              <%= comments[i].comment%>
              <%if(comments[i].user == user.id){ %>
                <form
                  action="/comment/deleteComment/<%= comments[i]._id %>?_method=DELETE"
                  method="POST"
                  class="col-3">
                  <button class="btn btn-primary fa fa-trash" type="submit"></button>
                </form>
                <%}%>
            </li>
          <% } %>
        </ul>
        <h2>Add a Comment</h2>
          <form action="/comment/createComment/<%=post._id%>" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="comment" class="form-label">Comment</label>
                <input type="text" class="form-control" id="comment" name="comment">
            </div>
            <div class="mb-3">
              <label for="imgUpload" class="form-label">Image</label>
              <input type="file" class="form-control" id="imageUpload" name="file">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') -%>
