<%- include('partials/header') -%>
<div class="p-5">
  <div class="row ">
    <%if(user.teacher == false){ %>
    <div class="col-6">
          <div class="mt-5">
            <h2>Add a post</h2>
            <form action="/post/createPost" enctype="multipart/form-data" method="POST">
              <div class="mb-3">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" class="form-control" id="title" name="title">
              </div>
              <div class="mb-3">
                <label for="caption" class="form-label">Caption</label>
                <textarea class="form-control" id="caption" name="caption"></textarea>
              </div>
              <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
          <%}%>
          <%if(user.teacher == true){ %>
            <%if(count > 1 || count == 0){ %>
            <p>You have <%= count%> unmarked pieces of work.</p>
            <%} else {%>
            <p>You have <%= count%> unmarked piece of work.</p>
            <%}%>
          <%}%>
      </div>
      <div class="<%if(user.teacher == true){%>col-12<%}else {%>col-6<%}%>">
        <div class="most-popular">
          <div class="row">
            <div class="col-lg-12">
              <div class="heading-section">
                <h2>Your Uploaded Homework</h2>
              </div>
              <div class="row">
                <% for(var i=0; i<posts.length; i++) {%>
                <div class="<%if(user.teacher == true){%>col-lg-3 col-sm-6<%}else {%>col-6<%}%>col-lg-6 col-sm-6">
                  <div class="item">
                    <a href="/post/<%= posts[i]._id%>">
                      <img class="img-fluid thumb <%if(posts[i].marked == true){%>marked<%}%>"  src="<%= posts[i].image%>">
                    </a>
                    <h3> <%=posts[i].title%></h3>
                    <h3> <%=posts[i].createdAt.toDateString()%></h3>
                  </div>
                </div>
                <% } %>
              </div>
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
<%- include('partials/footer') -%>